:root {
    --user-avatar-size: 32px;
    --app-windowbar-height: var(--server-container);
    --app-corner-size: 0px;
    
    --server-size: var(--server-icon-size, var(--HSL-size, 35px));
    --server-margin: var(--server-spacing, var(--HSL-spacing, 10px));
    --server-container: calc( var(--server-size) + ( 2 * var(--server-outer-margin) ) );
    
    --user-outer-right-margin: calc( var(--username-button-right-margin) + (var(--windowcontrol-buttons-width) * 3) );
    --dropdown-button-width: calc( 220px - 8px - 8px );
    --windowcontrol-buttons-width: 45px;
    --windowcontrol-buttons-height: 30px;
}
.theme-dark {
    --header-primary: #fff;
    --header-secondary: #bdbdbd;
    --text-normal: #dedede;
    --text-muted: #787878;
    --text-link: #00b0f4;
    --text-positive: #4fdc7b;
    --channels-default: #919191;

    --interactive-normal: #bdbdbd;
    --interactive-hover: #dedede;
    --interactive-active: #fff;
    --interactive-muted: #575757;

    --background-primary: #121212;
    --background-primary-transparent: rgba(70, 70, 70, 0.2);
    --background-secondary: #181818;
    --background-secondary-alt: #333333;
    --background-tertiary: #303030;
    --background-accent: #575757;
    --background-floating: #1a1a1a;
    --background-mobile-primary: #3b3b3b;
    --background-mobile-secondary: #333333;
    --activity-card-background: #242424;

    --background-modifier-hover: rgba(87, 87, 87, 0.1);
    --background-modifier-active: rgba(87, 87, 87, 0.24);
    --background-modifier-selected: rgba(100, 100, 100, 0.2);
    --background-modifier-accent: rgba(255, 255, 255, 0.06);

    --deprecated-text-input-border-hover: #050505;
    --deprecated-text-input-border-disabled: #242424;
    --deprecated-text-input-prefix: #dedede;

    --channeltextarea-background: #282828;

    --deprecated-quickswitcher-input-background: rgba(120, 120, 120, 0.15);

    --scrollbar-thin-thumb: #242424;
    --scrollbar-thin-track: transparent;
    --scrollbar-auto-thumb: #4e4e4e;
    --scrollbar-auto-track: #242424; 
    --scrollbar-auto-scrollbar-color-thumb: #242424;
    --scrollbar-auto-scrollbar-color-track: #333333;
    /*--background-primary-transparent: rgba(54, 57, 63, 0.74);*/
}
.theme-dark .container-1D34oG,
.theme-light .container-1D34oG {
    background-color: var(--background-primary);
}
.theme-dark .searchAnswer-3Dz2-q,
.theme-dark .searchFilter-2ESiM3,
.theme-light .searchAnswer-3Dz2-q,
.theme-light .searchFilter-2ESiM3 {
    background-color: var(--background-accent);
}




.theme-light {
    --background-primary-transparent: rgba(255, 255, 255, 0.74);
}



/*::::::::::::::: Search :::::::::::::::*/

/*.search-36MZv- .search-2oPWTC{}*/
.search-36MZv- .search-2oPWTC .searchBar-3dMhjb{
    width: 24px;
    padding: 0;
    background: none;
    transition: width .15s ease;
    border-radius: 12px;
}
.search-36MZv- .search-2oPWTC .searchBar-3dMhjb .icon-38sknP{
    cursor: pointer;
}
.search-2oPWTC.open-6_Y_aH .searchBar-3dMhjb .icon-38sknP{
    cursor: text;
}
.search-2oPWTC.open-6_Y_aH .searchBar-3dMhjb .icon-38sknP.clear-1pMieT{
    cursor: pointer;
}

.search-2oPWTC.open-6_Y_aH .searchBar-3dMhjb{
    width: 192px;
    padding: 0 8px;
    background-color: var(--background-secondary);
}

.search-36MZv- .search-2oPWTC .icon-3cZ1F_ {
    color: var(--interactive-normal);
}
.search-36MZv-:hover .search-2oPWTC .icon-3cZ1F_ {
    color: var(--interactive-hover);
}

.search-36MZv- .search-2oPWTC.open-6_Y_aH.focused-31_ccS .icon-3cZ1F_ {
    color: var(--text-muted);
}

.search-2oPWTC.open-6_Y_aH .iconContainer-O4O2CN{
    width: 16px;
    height: 16px;
}

.iconContainer-O4O2CN{
    width: 24px;
    height: 24px;
}



/*::::::::::::::::::::::::::::::::::::::*/





/*::::::::::::::: Discover Page ::::::::::::::*/
.base-3dtUhz .content-98HsJk .pageWrapper-1PgVDX {
    top: calc( -1 * ( var(--app-windowbar-height) ) );
    height: calc( 100% + var(--app-windowbar-height) );
}
.base-3dtUhz .content-98HsJk .pageWrapper-1PgVDX:after{
    background-color: var(--background-primary-transparent) !important;
    backdrop-filter: blur(128px);
    height: var(--app-windowbar-height);
    position: fixed; content: ""; left: 0; top: 0; right: 0; z-index: 9;
}
.base-3dtUhz .content-98HsJk .pageWrapper-1PgVDX::before{
    background-color: #4E28F3;
    height: calc( var(--app-windowbar-height) - 12px );
    position: fixed; content: ""; left: 300px; top: 0; right: 12px; z-index: 8;
}

.searchHeader-14dJfk {
    margin-top: var(--app-windowbar-height);
}
.searchHeader-2I26nG{
    margin-top: calc( var(--app-windowbar-height) - 42px);
}
.searchHeader-2I26nG, .headerImage-3X1tyY{
    border-radius: 0;
}
.headerImage-3X1tyY{
    width: calc(100% + 6px);
    height: calc(100% + 6px);
    margin: -3px;
}
.searchHeader-2I26nG{
    overflow: hidden;
}
.searchHeader-2I26nG:before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    z-index: 1;
    border-radius: 8px;
    box-shadow: 0px 0px 0px 8px var(--background-primary);
}
.pageWrapper-1PgVDX {
    background-color: var(--background-primary) !important;
    color: #fff;
}
.card-3DjzTQ, .iconMask-3b8GzQ {
    background-color: var(--background-secondary) !important;
}
.card-3DjzTQ:hover, .card-3DjzTQ:hover .iconMask-3b8GzQ, .iconMask-3b8GzQ:hover, .iconMask-3b8GzQ:hover .iconMask-3b8GzQ {
    background-color: var(--background-tertiary) !important;
}
.auto-Ge5KZx::-webkit-scrollbar-track {
    margin-top: var(--app-windowbar-height);
}
/*::::::::::::::::::::::::::::::::::::::*/




/*:::::::: Context Menu ::::::::::
.appMount-3lHmkl > .layerContainer-yqaFcK .layer-v9HyYc,
.appMount-3lHmkl > .popouts-2bnG9Z .layer-v9HyYc{
    user-select: all;
    pointer-events: all;
    z-index: 3000;
}
.appMount-3lHmkl > .layerContainer-yqaFcK .layer-v9HyYc .layer-v9HyYc{
    top: 100px !important;
    bottom: 100px !important;
}
/*::::::::::::::::::::::::::::::::::::::*/


/*:::::::::::::::: Screenshare popup ::::::::::::::::::*/
.theme-dark .root-1gCeng {
    background-color: var(--background-floating);
}

.theme-dark .footer-2gL1pp {
    background-color: var(--background-secondary);
}

.theme-dark .lookFilled-1Gx00P.colorPrimary-3b3xI6 {
    color: #f6f6f7;
    background-color: var(--background-accent)
}


/*Tooltips*/
.tooltip-2QfLtc.tooltipTop-XDDSxx.tooltipPrimary-1d1ph4.tooltipDisablePointerEvents-3eaBGN{
    margin-left: calc(50% - 20px);
    margin-right: calc(-50% + 20px);
}

/*
.tooltip-2QfLtc.tooltipTop-XDDSxx.tooltipPrimary-1d1ph4.tooltipDisablePointerEvents-3eaBGN .tooltipContent-bqVLWK{}
.tooltip-2QfLtc.tooltipTop-XDDSxx.tooltipPrimary-1d1ph4.tooltipDisablePointerEvents-3eaBGN .tooltipTop-XDDSxx .tooltipPointer-3ZfirK{}
*/

.tooltipTop-XDDSxx .tooltipPointer-3ZfirK{
    left: 0;
    margin-left: 16px;
}

/*:::::::::::::::::::::Horizontal server list ::::::::::::::::::::::::::*/
/*New message disclaimer*/
.unreadMentionsIndicatorBottom-2mDYbI .bar-30k2ka{

}



/*Hide public servers button*/
#bd-pub-li{
    display: none !important;
}
/*Hide orange focus line*/
.wrapper-3NnKdC.guilds-1SWlCJ ul{
    outline-width: 0!important;
}
/*Fullscreen video hide servers bar*/
.wrapper-3NnKdC.guilds-1SWlCJ.hidden-3dXt4k + .base-3dtUhz {
    top: 0 !important;
}
#app-mount .app-1q1i1E .base-3dtUhz {
    top: var(--server-container);
    position: absolute !important;
    left: 0 !important;
    right: 0;
    bottom: 0;
  }
  #app-mount .sidebar-2K8pFh {
    border-radius: 0;
  }
  #app-mount [class*=unreadMentionsIndicator] {
    width: var(--server-size);
    padding: 0;
    left: 50%;
    transform: translateX(-50%);
    height: auto;
  }
  #app-mount .guilds-1SWlCJ {
    transform-origin: top left;
    transform: rotate(-90deg);
    width: var(--server-container);
    top: var(--server-container);
    bottom: unset;
    position: absolute !important;
    left: 0;
  }
  #app-mount .guilds-1SWlCJ .scrollerWrap-1IAIlv {
    width: calc(100% + 30px);
  }
  #app-mount .guilds-1SWlCJ .scrollerBase-289Jih {
    padding-top: 0 !important;
  }
  #app-mount .guilds-1SWlCJ .scrollerBase-289Jih > div[style]:not(.listItem-2P_4kh) {
    height: auto !important;
  }
  #app-mount .guilds-1SWlCJ .scrollerBase-289Jih > div[style]:not(.listItem-2P_4kh)[style*="height: 0px"] {
    padding-top: 1px;
  }
  #app-mount .guilds-1SWlCJ .svg-1X37T1,
  #app-mount .guilds-1SWlCJ .wrapper-25eVIn,
  #app-mount .guilds-1SWlCJ .guildsError-b7zR5H,
  #app-mount .guilds-1SWlCJ .placeholderMask-3K9THS {
    width: var(--server-size);
    height: var(--server-size);
  }
  #app-mount .guilds-1SWlCJ [role=group] {
    height: auto !important;
  }
  #app-mount .guilds-1SWlCJ [class*=pill] {
    transform: rotate(90deg) translateY(-50%);
    height: var(--server-size);
    width: 4px;
    top: calc(var(--server-size) / -1 + var(--server-size) / 2 - 8px) !important;
    margin-left: -2px;
  }
  #app-mount .guilds-1SWlCJ [class*=pill] span {
    height: 100% !important;
    width: 4px !important;
    transform: scale(0, 1) !important;
    transition: 0.15s ease !important;
    margin-left: 0;
    border-radius: 0 4px 4px 0;
  }
  #app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 0"] { transform: scale(1, 0.24) !important; } #app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 1"] { transform: scale(1, 0.24) !important; } #app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 2"] { transform: scale(1, 0.24) !important; } #app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 3"] { transform: scale(1, 0.24) !important; } #app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 4"] { transform: scale(1, 0.24) !important; } #app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 5"] { transform: scale(1, 0.24) !important; } #app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 6"] { transform: scale(1, 0.24) !important; } #app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 7"] { transform: scale(1, 0.24) !important; } #app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 8"] { transform: scale(1, 0.24) !important; } #app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 9"] { transform: scale(1, 0.7) !important; } #app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 10"] { transform: scale(1, 0.7) !important; } #app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 11"] { transform: scale(1, 0.7) !important; } #app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 12"] { transform: scale(1, 0.7) !important; } #app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 13"] { transform: scale(1, 0.7) !important; } #app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 14"] { transform: scale(1, 0.7) !important; } #app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 15"] { transform: scale(1, 0.7) !important; } #app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 16"] { transform: scale(1, 0.7) !important; } #app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 17"] { transform: scale(1, 0.7) !important; } #app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 18"] { transform: scale(1, 0.7) !important; } #app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 19"] { transform: scale(1, 0.7) !important; } #app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 20"] { transform: scale(1, 0.7) !important; } #app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 21"] { transform: scale(1, 1) !important; } #app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 22"] { transform: scale(1, 1) !important; } #app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 23"] { transform: scale(1, 1) !important; } #app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 24"] { transform: scale(1, 1) !important; } #app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 25"] { transform: scale(1, 1) !important; } #app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 26"] { transform: scale(1, 1) !important; } #app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 27"] { transform: scale(1, 1) !important; } #app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 28"] { transform: scale(1, 1) !important; } #app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 29"] { transform: scale(1, 1) !important; } #app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 30"] { transform: scale(1, 1) !important; } #app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 31"] { transform: scale(1, 1) !important; } #app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 32"] { transform: scale(1, 1) !important; } #app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 33"] { transform: scale(1, 1) !important; } #app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 34"] { transform: scale(1, 1) !important; } #app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 35"] { transform: scale(1, 1) !important; } #app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 36"] { transform: scale(1, 1) !important; } #app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 37"] { transform: scale(1, 1) !important; } #app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 38"] { transform: scale(1, 1) !important; } #app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 39"] { transform: scale(1, 1) !important; } #app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 40"] { transform: scale(1, 1) !important; }
  #app-mount .guilds-1SWlCJ .wrapper-sa6paO {
    height: var(--server-size) !important;
  }
  #app-mount .guilds-1SWlCJ .wrapper-21YSNc,
  #app-mount .guilds-1SWlCJ .wrapper-3Njo_c {
    width: var(--server-container);
  }

  #app-mount .guilds-1SWlCJ [class*=listItem]:not([class*=listItemWrapper]) {
    width: var(--server-size);
    transform: rotate(90deg);
    margin: var(--server-margin) 10px;
    position: unset;
  }
  #app-mount .guilds-1SWlCJ [class*=guildSeparator] {
    transform: rotate(90deg);
    width: var(--server-size);
  }
  #app-mount .guilds-1SWlCJ [class*=expandedFolderBackground] {
    width: var(--server-size);
    left: 50%;
    border-radius: 10px;
    transform: translateX(-50%);
  }
  #app-mount .guilds-1SWlCJ .folder-21wGz3 {
    background: transparent;
  }
  #app-mount [class*=listItemTooltip] {
    position: absolute;
    max-width: unset;
    white-space: nowrap;
    margin-left: calc(var(--server-size) / -1 - 20px);
    top: calc(var(--server-size) - 10px);
  }
  #app-mount [class*=listItemTooltip] [class*=tooltipPointer] {
    transform: rotate(180deg);
    top: -5px;
    right: unset;
    left: 13px;
    z-index: 1;
  }
  #app-mount .friendsOnline-2JkivW {
    position: absolute;
    transform: translate(-50%, 50%);
    top: calc(-50% + var(--server-margin));
    left: calc(-50%);
    width: calc(var(--server-size) + var(--server-margin));
    display: flex;
    justify-content: center;
  }
  #app-mount .guilds-1SWlCJ.content-Pph8t6, #app-mount .BF-folderSidebar {
    position: absolute !important;
    top: calc(var(--server-container) * 2) !important;
  }
  #app-mount .guilds-1SWlCJ.content-Pph8t6:not(.closed-j55_T-) + .base-3dtUhz, #app-mount .BF-folderSidebar:not(.closed-j55_T-) + .base-3dtUhz {
    top: calc(var(--server-container) * 2) !important;
  }
  #app-mount .guilds-1SWlCJ .frame-oXWS21[class*=listItem] {
    height: var(--server-size) !important;
  }
  #app-mount .guilds-1SWlCJ .frame-oXWS21[class*=listItem] .wrapper-1BJsBx {
    height: 100% !important;
  }
  #app-mount .guilds-1SWlCJ .frame-oXWS21[class*=listItem] .button-Jt-tIg {
    width: 100%;
    height: 100% !important;
    border-radius: 50%;
    padding: 2px;
    font-size: 10px;
    box-sizing: border-box;
    text-align: center;
  }
  #app-mount .BF-folderSidebar {
    top: calc(var(--server-container)) !important;
  }
  
  html.platform-osx #app-mount .typeMacOS-3EmCyP {
    width: 100%;
  }
  html.platform-osx #app-mount .base-3dtUhz {
    top: calc(var(--server-container) + 30px) !important;
  }
  html.platform-osx #app-mount #pluginNotice {
    top: 32px;
    z-index: 100000 !important;
  }
  
  body.foldercontentopened .base-3dtUhz {
    transition: 0.2s ease !important;
  }

/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/



/*:::::::::::::::::: Sidebar :::::::::::::::::*/
:root{
    --sidebar-width: 240px;
    --server-banner-height: calc((135 / 240) * var(--sidebar-width));
}
.content-3YMskv div[style="height: 84px;"] {
    height: calc( (100 / 240) * var(--sidebar-width) ) !important;
}

/*
@media only screen and (min-width: 1320px) {
    :root{
        --sidebar-width: 290px;
    }
}
@media only screen and (min-width: 1920px) {
    :root{
        --sidebar-width: 330px;
    }
}
*/
.sidebar-2K8pFh{
    width: var(--sidebar-width);
}


/*Hide add channel when not hovering category*/
.sidebar-2K8pFh .content-3YMskv .containerDefault-3tr_sE .children-L002ao{
    opacity: 0;
}
.sidebar-2K8pFh .content-3YMskv .containerDefault-3tr_sE:hover .children-L002ao{
    opacity: 1;
}





/*Channels tool icons*/
.iconVisibility-sTNpHs:hover .iconItem-F7GRxr,
.containerDefault--pIXnN.selected-3LIHYU:hover .iconItem-F7GRxr {
    display: none;
}
.containerDefault--pIXnN.selected-3LIHYU .iconItem-F7GRxr{
    display: none;
}


/*:::::::::::::::::::::::::::::::::::*/



/*:::::::::::::::: User Area ::::::::::::::::::::*/
/*Username*/
.nameTag-3uD-yy{
    position: fixed;
    z-index: 10;
    margin: 0 !important;
    pointer-events: none;
    user-select: none;
    box-sizing: border-box;

    top: 21px;
    width: var(--username-button-width);
    right: calc( var(--user-outer-right-margin) );
    padding-left: var(--username-button-padding);
    padding-right: var(--username-button-padding);
}
.nameTag-3uD-yy .subtext-3CDbHg{
    display: none;
}
.avatarWrapper-2yR4wp{
    position: fixed;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, .25);
    margin: 0 !important;
    border-radius: calc(32px / 2);
    z-index: 10;
    cursor: pointer;

    width: calc( var(--username-button-width) + var(--user-avatar-size) );
    top: var(--server-outer-margin);
    right: calc( var(--user-outer-right-margin) );
    transition: background-color .15s ease;
}
.avatarWrapper-2yR4wp:hover {
    background-color: rgba(0, 0, 0, .4);
}
.avatarWrapper-2yR4wp[aria-expanded="true"]{
    background-color: rgba(0, 0, 0, .6);
}
.avatarWrapper-2yR4wp:hover .avatar-SmRMf2, .avatarWrapper-2yR4wp[aria-expanded="true"] .avatar-SmRMf2{
    opacity: .8;
}
.avatarWrapper-2yR4wp .avatar-SmRMf2{
    transition: opacity .15s ease;
}
.avatar-SmRMf2, .avatar-SmRMf2:hover {
    opacity: 1;
}
/*.menu-3sdvDG {
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(64px);
}*/
/*User Settings*/
.layerContainer-yqaFcK{
    z-index: 1000;
}
.avatarWrapper-2yR4wp[aria-expanded="true"] ~ .directionRow-3v3tfG button[aria-label="User Settings"] {
    display: block;
}
.avatarWrapper-2yR4wp[aria-expanded="false"] ~ .directionRow-3v3tfG button[aria-label="User Settings"] {
    display: block;
    user-select: none;
    pointer-events: none;
}
.avatarWrapper-2yR4wp[aria-expanded="true"] ~ .directionRow-3v3tfG button[aria-label="User Settings"] .contents-18-Yxp{
    transform: scale(1);
    opacity: 1;
    transition: transform .12s ease-out, opacity .12s ease-out;
}
.avatarWrapper-2yR4wp[aria-expanded="false"] ~ .directionRow-3v3tfG button[aria-label="User Settings"] .contents-18-Yxp{
    transform: scale(.01);
    opacity: 0;
}
.avatar-SmRMf2.wrapper-3t9DeA svg foreignObject .avatarStack-2Dr8S9 img{
    border-radius: 50%;
    overflow: hidden;
}
/*Inbox
:root{
    --notifications-size: 32px;
}
.iconWrapper-2OrFZ1[aria-label="Inbox"]{
    --size: 32px;
    position: fixed;
    width: var(--size); height: var(--size);
    top: var(--server-outer-margin);
    right: calc( var(--user-outer-right-margin) + (var(--username-button-width) + var(--user-avatar-size)));
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='icon-1Itzco' aria-hidden='false' width='100%' height='100%' viewBox='0 0 24 24'%3E%3Cpath fill='red' d='M12 2C6.486 2 2 6.486 2 12C2 17.515 6.486 22 12 22C14.039 22 15.993 21.398 17.652 20.259L16.521 18.611C15.195 19.519 13.633 20 12 20C7.589 20 4 16.411 4 12C4 7.589 7.589 4 12 4C16.411 4 20 7.589 20 12V12.782C20 14.17 19.402 15 18.4 15L18.398 15.018C18.338 15.005 18.273 15 18.209 15H18C17.437 15 16.6 14.182 16.6 13.631V12C16.6 9.464 14.537 7.4 12 7.4C9.463 7.4 7.4 9.463 7.4 12C7.4 14.537 9.463 16.6 12 16.6C13.234 16.6 14.35 16.106 15.177 15.313C15.826 16.269 16.93 17 18 17L18.002 16.981C18.064 16.994 18.129 17 18.195 17H18.4C20.552 17 22 15.306 22 12.782V12C22 6.486 17.514 2 12 2ZM12 14.599C10.566 14.599 9.4 13.433 9.4 11.999C9.4 10.565 10.566 9.399 12 9.399C13.434 9.399 14.6 10.565 14.6 11.999C14.6 13.433 13.434 14.599 12 14.599Z'%3E%3C/path%3E%3C/svg%3E");
    -webkit-mask-size: 20px 20px;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    background-color: var(--interactive-normal);
    -webkit-user-drag: none;
    -webkit-app-region: no-drag;
    z-index: 10000;
    margin: 0;
    margin-right: 2px;
}
.iconWrapper-2OrFZ1[aria-label="Inbox"]:hover{
    background-color: var(--interactive-hover);
}
.iconWrapper-2OrFZ1[aria-label="Inbox"] svg{
    display: none;
}
.layer-v9HyYc{
    position: fixed;
    right: 12px !important;
    top: 54px;
}
*/

.directionRow-3v3tfG button[aria-label="User Settings"] {
    position: fixed;
    top: calc( (var(--server-outer-margin) * 2) + var(--user-avatar-size) + 8px);
    right: calc( -10000px + var(--user-avatar-size) + var(--username-button-width) + var(--user-outer-right-margin) - 8px);
    
    
    width: 10000px;
    background-color: rgba(0, 0, 0, 0);
    z-index: 1002;
    box-sizing: border-box;
    margin: 0;
    border-radius: 0px;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    cursor: default;
    text-align: left;
    color: var(--interactive-normal);
    clip: rect(
        0px,
        var(--dropdown-button-width),
        32px,
        0px
    ); /*(<top>, <right>, <bottom>, <left>)*/
           
}
.directionRow-3v3tfG button[aria-label="User Settings"]:hover {
    background-color: transparent;
    color: var(--interactive-normal);
}
.directionRow-3v3tfG button[aria-label="User Settings"] svg{
    margin-left: -3px;
    width: 16px !important;
    height: 16px !important;
}
.directionRow-3v3tfG button[aria-label="User Settings"] .contents-18-Yxp{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: grid;
    grid-template-areas:
        "icon status"
        ". description";
    grid-template-rows: 24px 1fr;
    grid-template-columns: 24px 1fr;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 4px 8px;
    min-height: 24px;
    width: var(--dropdown-button-width);
    border-radius: 2px;
    cursor: pointer;
    transform-origin: top center;

}
.directionRow-3v3tfG button[aria-label="User Settings"] .contents-18-Yxp:hover{
    background-color: var(--brand-experiment-560);
    color: #fff;
}

.directionRow-3v3tfG button[aria-label="User Settings"] .contents-18-Yxp:after{
    content: "User Settings";
    grid-area: status span 2;
    line-height: 18px;
}

.menu-3sdvDG#status-picker{
    padding-top: calc( 32px + 8px);
    flex-direction: column-reverse;
}
.menu-3sdvDG#status-picker:before {
    display: flex;
    content: "";
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    
    margin-top: 4px;
    margin-bottom: -4px;

    margin-right: 12px;
    margin-left: 12px;
    border-bottom: 1px solid var(--background-modifier-accent);
    width: 196px;
    height: 1px;
    order: 1;
}
.menu-3sdvDG#status-picker .scrollerBase-289Jih{
    flex-basis: auto;
}

.panels-j1Uci_ {
    background-color: var(--background-secondary-alt);
    z-index: unset !important;
}




.layer-3QrUeG.baseLayer-35bLyl{
    transform: none !important;
    top: 0 !important;
    padding-top: 0 !important;
    background-color: var(--background-primary-transparent);
    transition: background-color 0.5s ease;
}
/*.layer-3QrUeG.baseLayer-35bLyl.stop-animations{}*/
.layer-3QrUeG.baseLayer-35bLyl.animating-rRxada{
    background-color: var(--background-primary);
}







/*::::::::::::::::::::: Control Area :::::::::::::::::::::::*/
:root{
    --control-area-bottom-margin: 24px;
}

/*Hide Krisp*/button[aria-label="Noise Suppression powered by Krisp"] {
    display: none;
}
/*Call Info*/.connection-3KRENF .inner-tyMogq{
    display: none!important;
}
/*Hide game Name*/ .panels-j1Uci_ .gameWrapper-1jIQAX .info-WdNIDE{
    display: none;
}


/*Talking Indicator*/
.panels-j1Uci_ {
    --margin: 16px;
    --border-radius: 22px;
    margin-bottom: var(--control-area-bottom-margin);
    padding: 6px 8px;
    flex-direction: row;
    display: flex;
    height: 44px;
    box-sizing: border-box;
    margin-left: var(--margin);
    margin-right: var(--margin);
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0);
    justify-content: space-evenly;
    position:absolute;
    bottom: 0;
    width: calc( var(--sidebar-width) - ( var(--margin) * 2 ) );
}
.panels-j1Uci_ .wrapper-24pKcD ~ .container-3baos1 .directionRow-3v3tfG:after{
    content: "";
    background-color: rgba(0, 0, 0, .25);
    border-radius: var(--border-radius);
    height: 44px;
    width: calc( var(--sidebar-width) - ( var(--margin) * 2) );
    position: fixed;
    z-index: 2;
    left: var(--margin);
    margin-top: -6px;
    backdrop-filter: blur(32px);
}
.panels-j1Uci_ .wrapper-24pKcD ~ .container-3baos1 .directionRow-3v3tfG:before{
    content: "";
    /*background-color: red;/**/
    
    background: linear-gradient(to bottom, transparent, var(--background-secondary) 30px, var(--background-secondary));

    /**/
    height: 68px;
    width: var(--sidebar-width);
    position: fixed;
    z-index: 1;
    left: 0;
    margin-top: -6px;
}




/*Spotify*/
.listeningAlong-30wH70{
    display: none;
}
.listeningAlong-30wH70{
    --height-offset: 50px;
    position: fixed;
    width: 200px;
    height: 32px;
    border-radius: calc(32px / 2);
    top: 14px;
    right: 320px;
    background-color: rgba(0, 0, 0, .25);
    backdrop-filter: blur(32px);
    border: none!important;
    z-index: 10;
}
.listeningAlong-30wH70 *{
    -webkit-user-drag: none;
    -webkit-app-region: no-drag;
}
.flex-1xMQg5.flex-1O1GKY.horizontal-1ae9ci.horizontal-2EEEnY.flex-1O1GKY.directionRow-3v3tfG.justifyEnd-2E6vba.alignStretch-DpGPf3.noWrap-3jynv6{
    padding: 0 !important;
}
.listeningAlong-30wH70 .avatar-2fD4wn{
    top: var(--height-offset);
    height: 0 !important;
    -webkit-mask-position: unset;
    -webkit-mask-image: none;
}
.listeningAlong-30wH70 .avatar-2fD4wn svg{
    top: calc( -1 * var(--height-offset) );
    background-color: red;
    pointer-events: unset;
    height: 24px;
    width: 24px;
}
.listeningAlong-30wH70 .avatar-2fD4wn *, .listeningAlong-30wH70 .avatar-2fD4wn {
    overflow: visible !important;
}
/*.listeningAlong-30wH70{
    position: absolute;
    width: 100%;
    bottom: 48px;
    background-color: rgba(0, 0, 0, .25);
    backdrop-filter: blur(32px);
    border-radius: 8px;
    border: none!important;
    z-index: 10;
}
/*.listeningAlong-30wH70{
    position: absolute;
    width: 100%;
    bottom: 48px;
    background-color: rgba(0, 0, 0, .25);
    backdrop-filter: blur(32px);
    border-radius: 8px;
    border: none!important;
    z-index: 10;
}
.listeningAlong-30wH70:after{
    content: "";
    background: linear-gradient(to bottom, transparent, var(--background-secondary) 50px, var(--background-secondary));
    
    height: 136px;
    width: 240px;
    position: fixed;
    z-index: -1;
    left: -16px;
    margin-top: 42px;
}

.listeningAlong-30wH70 .icons-2uekgw{
    display: none;
}*/











.panels-j1Uci_:has(div){
    height: 0;
}
/*.panels-j1Uci_:before {
    content: "";
    position: absolute;
    backdrop-filter: blur(8px);
    background-color: rgba(0, 0, 0, .25);
    width: 208px;
    height: 44px;
    border-radius: 8px;
    z-index: 11;
    display: block;
    margin-top: -6px;
    margin-right: -8px;
    margin-bottom: -6px;
    margin-left: -8px;
}*/
.avatar-SmRMf2.wrapper-3t9DeA svg,.avatar-SmRMf2.wrapper-3t9DeA svg foreignObject,.avatar-SmRMf2.wrapper-3t9DeA svg foreignObject div{
    overflow: visible !important;
}
.avatar-SmRMf2.wrapper-3t9DeA svg foreignObject{
    mask: none !important;
}
.avatarSpeaking-2c8-9i {
    --height: 2px;
    --left: calc( var(--control-area-bottom-margin) + var(--margin));
    --width: calc( var(--sidebar-width) - ( var(--left) * 2 ) );
    --bottom: var(--control-area-bottom-margin);
    position: fixed;
    box-shadow: none !important;
    border-radius: 0;
    --green: rgb(59, 165, 93);
    background: linear-gradient(90deg, rgba(59, 165, 93, 0), var(--green),  rgba(59, 165, 92, 0));
    
    z-index: -1;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    
}
.avatarSpeaking-2c8-9i {
    top: calc( (var(--height) + var(--bottom)) * -1 + 100vh + (-1 * (var(--server-outer-margin))));
    left: calc( var(--left) + -100vw + (var(--user-avatar-size) + var(--username-button-width) + var(--user-outer-right-margin)) );
    height: var(--height);
    width: var(--width);
}


/*Application Streaming*/
.panels-j1Uci_ .wrapper-24pKcD{
    order: 1;
}
.panels-j1Uci_ .activityPanel-28dQGo{
    order: 2;
}
.panels-j1Uci_ .container-3baos1{
    order: 3;
}
.panels-j1Uci_ .activityPanel-28dQGo {
    flex: 1;
    overflow: hidden;
    z-index: 11;
}
.panels-j1Uci_ .activityPanel-28dQGo{
    height: 32px;
    max-width: 32px;
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding: 0 !important;
    box-sizing: border-box;
    border: none !important;
    display: flex;
}
/*Hide stream button when not in a call*/
.panels-j1Uci_ .wrapper-24pKcD:empty{
    margin-right: 512px;
}
.panels-j1Uci_ .activityPanel-28dQGo .body-GmmuPm,
.panels-j1Uci_ .activityPanel-28dQGo .body-GmmuPm .gameWrapper-1jIQAX,
.panels-j1Uci_ .activityPanel-28dQGo .body-GmmuPm .gameIconWrapper-1YByCI{
    width: 32px; max-width: 32px;
    height: 32px;
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box;
    border: none !important;
    border-radius: 4px;
    display: flex;
}
.panels-j1Uci_ .activityPanel-28dQGo .actions-aUdUfC{
    margin: 0;
}
.panels-j1Uci_ .activityPanel-28dQGo .gameWrapper-1jIQAX .icon-3Oovq9,
.panels-j1Uci_ .activityPanel-28dQGo .gameWrapper-1jIQAX .gameIconWrapper-1YByCI{
    border-radius: 50%;

    box-sizing: border-box;
}
.panels-j1Uci_ .activityPanel-28dQGo .body-GmmuPm:hover .gameWrapper-1jIQAX .icon-3Oovq9,
.panels-j1Uci_ .activityPanel-28dQGo .body-GmmuPm:hover .gameWrapper-1jIQAX .gameIconWrapper-1YByCI{
    border-radius: 16px;
    opacity: 1;
    margin: 0px;
    --size: 32px;
    color: rgba(0, 0, 0, 0);
}
.panels-j1Uci_ .activityPanel-28dQGo .body-GmmuPm:hover .gameWrapper-1jIQAX * {
    opacity: 0;
}
.panels-j1Uci_ .activityPanel-28dQGo .body-GmmuPm:hover .gameWrapper-1jIQAX .gameIcon-2YB8Et,
.panels-j1Uci_ .activityPanel-28dQGo .body-GmmuPm:hover .gameWrapper-1jIQAX .icon-3Oovq9{
    opacity: .25;
    margin: 0px;
    --size: 32px;
    line-height: var(--size);
    border-radius: calc( var(--size) / 2 );
}
.panels-j1Uci_ .activityPanel-28dQGo .body-GmmuPm .actions-aUdUfC{
    opacity: 0;
    transition: opacity .25s ease
}
.panels-j1Uci_ .activityPanel-28dQGo .body-GmmuPm:hover .actions-aUdUfC{
    opacity: 1;
}
.gameIcon-2YB8Et, .icon-3Oovq9{
    margin: 4px;
    --size: 24px;
    width: var(--size);
    height: var(--size);
    line-height: var(--size);
    padding: 0;
    border-radius: calc( var(--size) / 2 );
    transition: width .125s ease, height .125s ease, margin .125s ease, opacity .2s ease-in-out;
}
.liveBadge-yuNuMC, .badge-1JXQev{
    background-color: rgba(18, 18, 18, 0.8);
    color: var(--header-primary);
}



/*Call container*/
.panels-j1Uci_ .wrapper-24pKcD .container-1giJp5{
    flex-direction: row;
    align-content: flex-start;
    text-align: left;
}
.panels-j1Uci_ .wrapper-24pKcD .container-1giJp5,
.panels-j1Uci_ .wrapper-24pKcD .container-1giJp5 .horizontal-1ae9ci{
    padding: 0;
    margin: 0;
    border: none !important;
}
.panels-j1Uci_ .wrapper-24pKcD .container-1giJp5 .actionButtons-14eAc_{
    padding: 0;
    margin: 0;
    -webkit-box-pack: justify;
    justify-content: normal;
}
.panels-j1Uci_ .wrapper-24pKcD .container-1giJp5 .actionButtons-14eAc_ .button-1YfofB{
    font-size: 0;
    margin: 0;
    width: 32px;
    height: 32px;
    padding: 0;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
}
.panels-j1Uci_ .wrapper-24pKcD .container-1giJp5 .actionButtons-14eAc_ .button-1YfofB .contents-18-Yxp{
    margin: 0;
}
.panels-j1Uci_ .wrapper-24pKcD .container-1giJp5 .actionButtons-14eAc_ .button-1YfofB svg{
    margin: 0;
}
.panels-j1Uci_ .wrapper-24pKcD .container-1giJp5 .horizontal-1ae9ci,
.panels-j1Uci_ .wrapper-24pKcD .container-1giJp5 .actionButtons-14eAc_{
    width: fit-content;

    flex-grow: 0 !important;
    flex-shrink: 0 !important;
    flex-basis: auto;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
}



/*Voice Controls*/
.panels-j1Uci_ .container-3baos1, .panels-j1Uci_ .wrapper-24pKcD .container-1giJp5{
    margin: 0;
    padding: 0;
    height: 32px;
    max-width: fit-content;
}
.panels-j1Uci_ .wrapper-24pKcD .container-1giJp5{
    display: flex;

}
.panels-j1Uci_ .wrapper-24pKcD{
    height: 32px;
    display: flex;
    flex: 3;
    max-width: fit-content;
}
.panels-j1Uci_ .container-3baos1{
    flex: 2;
}

/*General Styles*/
/*Normal*/
.button-14-BFJ,
.button-1YfofB.buttonColor-7qQbGO.buttonActive-3FrkXp,
.button-1YfofB .buttonColor-7qQbGO.buttonActive-3FrkXp,
.button-1YfofB.buttonColor-7qQbGO,
.button-1YfofB .buttonColor-7qQbGO {
    background: transparent;
    color: var(--interactive-normal);
    z-index: 100;
    border-radius: 16px;
}

/*Hover*/
.button-14-BFJ.enabled-2cQ-u7:hover,
.button-1YfofB.buttonColor-7qQbGO.buttonActive-3FrkXp:hover,
.button-1YfofB .buttonColor-7qQbGO.buttonActive-3FrkXp:hover,
.button-1YfofB.buttonColor-7qQbGO:hover,
.button-1YfofB .buttonColor-7qQbGO:hover {
    color: var(--interactive-hover);
    background-color: var(--background-modifier-selected);
}

/*Disconnect*/
.button-14-BFJ[aria-label="Disconnect"]:hover{
    color: var(--text-danger);
}



.unreadBottom-1_LF_w{
    bottom: 0;
    padding: 0;
}
.unreadBottom-1_LF_w .unread-1xRYoj{
    background-color: var(--channels-sidebar-bg);    
}
.unreadBottom-1_LF_w .bar-30k2ka{
    border-radius: 0;
}

/*Hide box when not in a call*/
.panels-j1Uci_ .wrapper-24pKcD ~ .container-3baos1 .directionRow-3v3tfG{
    display: flex;
}


/*.panels-j1Uci_ .wrapper-24pKcD:empty ~ .container-3baos1 .directionRow-3v3tfG{
    display: none;
}*/
.panels-j1Uci_ .wrapper-24pKcD:empty ~ .container-3baos1 .directionRow-3v3tfG button:not([aria-label="User Settings"]),
.panels-j1Uci_ .wrapper-24pKcD:empty ~ .container-3baos1 .directionRow-3v3tfG:before,
.panels-j1Uci_ .wrapper-24pKcD:empty ~ .container-3baos1 .directionRow-3v3tfG:after {
    display: none;
}

















/*::::::::::::::::::::::::: Notice Area :::::::::::::::::::::::::*/
/*Better Discord Update*/
.noticeWrapper-8z511t{
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
}
.layers-3iHuyZ{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    order: 1;
}

/*Discord Notices*/
#app-mount .app-1q1i1E .base-3dtUhz{
    flex-direction: column;

}
.app-2rEoOp .notice-3bPHh-, .noticeWrapper-8z511t{
    order: 99;
    border-radius: 0px !important;
    max-width: 100vw !important;
    left: 0;
    right: 0;
}
.notice-3bPHh-.noticeWrapper-8z511t.updateNotice-2DjjHs.colorInfo-2URYW5 {

}
/*
.notice-2X5hT5{
    background: linear-gradient(0deg, var(--brand-experiment-700), transparent);
}
/*
.notice-3bPHh-{
    --margin: 8px;
    position: static;
    max-width: calc( 240px - ( var(--margin) * 2) );
    margin: var(--margin);
    box-sizing: border-box;
    border-radius: 8px;
    line-height: 18px;
    padding: 8px;
    font-size: 14px;

    display: flex;
    flex-direction: column;
    align-self: flex-start;
    text-align: left;
}
.notice-3bPHh- .button-2DhvE9 {
    top: unset !important;
    right: unset !important;
    left: unset !important;
    bottom: unset !important;
    margin: 0;
    margin-top: 8px;
    align-self: stretch;
}
.notice-3bPHh- .closeButton-3cJIM4{
    position: relative;
    top: unset !important;
    right: unset !important;
    left: unset !important;
    display: block;
    box-sizing: border-box;
    width: 32x;
    height: 32px;
    margin: calc(-1 * var(--margin));
    align-self: flex-end;
}
*/




#app-mount .guilds-1SWlCJ{
    -webkit-mask-image: linear-gradient(to top, rgba(0, 0, 0, 0) 0, rgb(0, 0, 0) 50px);
    overflow: hidden;
    height: calc(100vw - ( var(--user-avatar-size) + var(--username-button-width) + var(--user-outer-right-margin) ) )!important;
    z-index: 10;
}

.tree-2wKJdG{
    overflow: hidden;
}
.wrapper-3NnKdC, .scroller-1Bvpku{
    background-color: rgba(0, 0, 0, 0) !important;
}
#app-mount .guilds-1SWlCJ.hidden-3dXt4k{
    display: none;
}

#app-mount [class*=unreadMentionsIndicator]{
    transform: translateY(-200%) translateX(30%) rotate(90deg);
    transform-origin: top left;
}
#app-mount .guilds-1SWlCJ [class*=listItem]:not([class*=listItemWrapper]) {
    margin: var(--server-margin) var(--server-outer-margin);
}
.expandedFolderBackground-1cujaW{
    background-color: rgba(0, 0, 0, .25);
}
.childWrapper-anI2G9{
    background-color: rgba(255, 255, 255, .1);
}
.expandedFolderBackground-1cujaW{
    margin-top: 2px;
}
.folder-1hbNCn{
    background-color: var(--background-secondary-alt);
}
.folder-1hbNCn.hover-qTxTR_{
    background-color: var(--background-tertiary);
}
.circleIconButton-1QV--U{
    background-color: transparent;
    color: var(--interactive-normal);
    border-radius: 100% !important;
}
.circleIconButton-1QV--U svg{
    width: 32px !important;
    height: 32px !important;
}
.circleIconButton-1QV--U.selected-1JjBPm {
    color: #fff;
    background-color: var(--background-secondary-alt);
}


/*Sidebar*/


/*#app-mount .sidebar-2K8pFh{}*/
.title-3qD0b-{
    z-index: 2;
}

#app-mount .sidebar-2K8pFh .content-3YMskv{
    padding-bottom: 64px;
}


/*
#app-mount .guilds-1SWlCJ:after {
    content: "";
    position: relative;
    display: flex;
    right: 0;
    left: 0;
    bottom: 0;
    margin-top: -20px;
    height: 160px;
    background-color: rgba(255, 0, 0, 0.473);
}*/


/* Shrink server banners to header instead of disappearing. */
[class*="animatedContainer-"] {
    opacity: 1 !important;
    transition: opacity .5s ;
    top: calc( var(--app-info-bar-height) - var(--server-banner-height) );
}
[class*="animatedContainer-"] > [class*="bannerImage-"] {
    transition: margin .5s;
}
:not([class*="bannerVisible-"]) > [class*="animatedContainer-"] {
    opacity: 1 !important;
    height: calc( 220px );
    top: calc( var(--app-info-bar-height) - var(--server-banner-height));

}
:not([class*="bannerVisible-"]) > [class*="animatedContainer-"] [class*="bannerImage-"] {
    margin-top: 0;
}
.platform-win .sidebar-2K8pFh{
    overflow: visible !important;
}
.bannerImage-3KhIJ6 {
    background-repeat: space;
    background-position-x: 0;
    background-position-y: 0;
    background-size: var(--sidebar-width) var(--server-banner-height);
    width: var(--sidebar-width);
    margin-top: 0;
    -webkit-mask-image: linear-gradient(to top, rgba(0, 0, 0, 0) 0, rgb(0, 0, 0) 100px, rgb(0, 0, 0) 0%);
}
.animatedContainer-1NSq4T{
    background-color: rgba(0, 0, 0, 0);

}
[class*="bannerImage-"]:before {
    opacity: 0;
}
/*[class*="bannerVisible-"] > [class*="animatedContainer-"]:before {
    content: "";
    position: absolute;
    top: unset;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 64px;
    background: linear-gradient(0deg, var(--channels-sidebar-bg) 20px,transparent);
    z-index: 1;
}*/
.bannerImage-3KhIJ6:before{
    display: none;
}
.bannerImage-3KhIJ6, [class*="animatedContainer-"] {
    position: absolute;
    height: calc( var(--server-banner-height) * 2);
    box-shadow: none;
}
.sidebar-2K8pFh {
    overflow: visible;
}


/*Server Name*/
.name-1jkAdW{
    font-size: 20px;
}
.bannerVisible-2ZE_qG .header-2V-4Sw {
    filter: none;
}
.button-1w5pas{
    display: none;
}
.partnered-3nJayh.disableColor-2z9rkr  {
    color: var(--brand-experiment);
}



/*Channels Sidebar*/
.sidebar-2K8pFh{
    --channels-sidebar-bg: var(--background-secondary);
    background-color: var(--channels-sidebar-bg);
}
.container-3w7J-x{
    background-color: transparent;
}


/**/

/*.container-1taM1r.clickable-25tGDB{
    z-index: 3;
}
.hasBanner-2SrLR3{

}/**/
























html body, html{
    background-color: rgba(0, 0, 0, 0) !important;
    background: none !important;
}
html, body, #app-mount, .backdrop-1wrmKB{
    overflow: hidden !important;
    border-radius: var(--app-corner-size) !important;
}
.app-2rEoOp, .bg-h5JY_x{
    background: var(--background-primary) !important;
}
html{
    padding: 0px;
}
#app-mount{
    background-color: var(--background-primary) !important;
}
.container-1r6BKw {
    height: inherit;
}
.topControls-KKImPZ{
    margin-top: 24px;
}


/*Window Bar*/
.withFrame-haYltI {
    --frame-gap: 4px;
    height: calc( var(--app-windowbar-height) - var(--frame-gap) );
    margin-top: var(--frame-gap);
    user-select: none;
    pointer-events: none;
    background: unset;
    position: fixed;
    width: 100%;
}

.winButton-iRh8-Z {
    top: calc( -1 * var(--frame-gap) );
    width: var(--windowcontrol-buttons-width);
    height: var(--windowcontrol-buttons-height);
    cursor: default;
}
.header-2V-4Sw {
    height: var(--app-info-bar-height);
}
.searchBar-6Kv8R2 {
    height: var(--app-info-bar-height);
    z-index: 3;
}
.container-3ayLPN.elevationBorderHigh-2WYJ09{
    background-color: var(--background-floating);
}
.theme-dark .option-96V44q:after{
    background: none!important;
}
.theme-dark .option-96V44q.selected-rZcOL- {
    background-color: var(--background-modifier-active);
}

/*Hide Help Button*/
a[href^="https://support.discord.com"]{
    display: none;
}

.topic-TCb_qw{
    width: fit-content;
}


/*Server Header*/
.sidebar-2K8pFh {
    border-radius: 0 !important;
}

:root {
    --background-message-hover: none;
    --background-mentioned: none;
    --background-mentioned-hover: none;
    /*--background-tertiary: var(--background-secondary);*/
}
.mentioned-xhSam7:before{
    background-color: rgba(255, 255, 255, 0);
}



/*Friends search*/
.searchBar-6Kv8R2 .searchBarComponent-32dTOx{
    background-color: rgba(255, 255, 255, 0);
    color: var(--text-muted);
    transition: background-color .125s ease, color .025s ease;
    height: 32px;
    line-height: 18px;
    border-radius: 16px;
    padding-left: 12px;
    white-space: normal;
}
.searchBar-6Kv8R2 .searchBarComponent-32dTOx:hover{
    background-color: rgba(255, 255, 255, 0.07);
    color: var(--text-normal);
}
.input-2VB9rf {
    padding: 0 24px;
    font-size: 22px;
    border-radius: 35px;
    height: 70px;
    line-height: 70px;
}


/*Sidebar discord icon fix*/
.listItem-GuPuDH {
    margin: 8px 0 8px 0;
}
/*Window Bar Discord Logo*/
.wordmarkWindows-1v0lYD {
    padding: 8px 9px 6px;
    display: none;
}
.closeButton-3cJIM4 {
    right: unset;
    left: 0;
}
.winButtonClose-1HsbF-{
    border-top-right-radius: var(--app-corner-size);
}
.listItemWrapper-KhRmzM,
.searchBar-6Kv8R2 .searchBarComponent-32dTOx,
.topic-TCb_qw,
.app-2rEoOp button,
.listItem-GuPuDH,
#app-mount .guilds-1SWlCJ [class*=expandedFolderBackground],
.panels-j1Uci_,
.avatarWrapper-2yR4wp,
.closeIcon-3_iQ6l{
    -webkit-user-drag: none;
    -webkit-app-region: no-drag;
}

/*Right Margin*/
.scroller-1Bvpku.none-2Eo-qx.scrollerBase-289Jih .tutorialContainer-30WoTp + .listItem-GuPuDH{
    margin-bottom: 32px !important;
}

/*Blurred header bar*/
.container-1r6BKw.themed-ANHk51 {
    height: var(--app-info-bar-height);
    background-color: transparent;
}
.container-1r6BKw.themed-ANHk51:after {
    border-top-right-radius: var(--app-corner-size);
    border-top-left-radius: var(--app-corner-size);

    position: fixed;
    content: "";

    background-color: var(--background-primary-transparent) !important;
    backdrop-filter: blur(128px);

    width: 100%;
    height: calc( var(--app-info-bar-height) + var(--app-windowbar-height) );
    z-index: -1;

    top: 0; left: 0; right: 0;
}
.children-19S4PO:after{
    display: none;
}
/**/


/*Follow News Button*/
.lookFilled-1Gx00P.colorPrimary-3b3xI6 {
    color: #f6f6f7 !important;
    background-color: var(--background-tertiary) !important;
}
.lookFilled-1Gx00P.colorPrimary-3b3xI6:active, .lookFilled-1Gx00P.colorPrimary-3b3xI6:hover {
    background-color: var(--background-secondary) !important;
}

.scroller-2LSbBU {
    top: calc( -1 * ( var(--app-info-bar-height) + var(--app-windowbar-height) ) );
}
.scrollerInner-2YIMLh{
    padding-top: calc(var(--app-info-bar-height) + var(--app-windowbar-height));
}

/*.scrollerContent-WzeG7R{
    top: var(--app-info-bar-height);
}*/
/*Selection Focus
.ring-13rgEW{
    transition: .15s ease;
}*/
.base-3dtUhz, .chat-3bRxxu{
    overflow: visible !important;
}
.bottomControls-lIJyYL, .topControls-KKImPZ,
.root-217Brm.idle-1j3olu{
    width: 100%;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto !important;
    -webkit-transform: translateZ(0) !important;
    transform: translateZ(0) !important;
}
.scroller-2LSbBU::-webkit-scrollbar-track, .contentRegionScroller-26nc1e::-webkit-scrollbar-track{
    margin-top: calc(var(--app-info-bar-height) + var(--app-windowbar-height));
    margin-bottom: 12px;
}
/*.root-217Brm.idle-1j3olu .topControls-KKImPZ {
    opacity: 1;
}

.videoControls-24w7Xp{
   top: calc( -1 * var(--app-windowbar-height));
}


.callContainer-36WRfH, .centerControls-2E5oVA{
    overflow: visible;
    margin-top: var(--app-windowbar-height);
}
*/





.root-217Brm.idle-1j3olu .flex-1xMQg5.flex-1O1GKY.horizontal-1ae9ci.horizontal-2EEEnY.flex-1O1GKY.directionRow-3v3tfG.justifyEnd-2E6vba.alignStretch-DpGPf3.noWrap-3jynv6{
    opacity: 0;
}
.root-217Brm .flex-1xMQg5.flex-1O1GKY.horizontal-1ae9ci.horizontal-2EEEnY.flex-1O1GKY.directionRow-3v3tfG.justifyEnd-2E6vba.alignStretch-DpGPf3.noWrap-3jynv6{
    opacity: 1;
}

.flex-1xMQg5.flex-1O1GKY.horizontal-1ae9ci.horizontal-2EEEnY.flex-1O1GKY.directionRow-3v3tfG.justifyEnd-2E6vba.alignStretch-DpGPf3.noWrap-3jynv6{
    padding-top: 16px;
}

html:hover ~ .app-1q1i1E .topControls-KKImPZ{
    opacity: 1;
}

/*.titleBar-AC4pGV:hover{}*/

/*Hide announcements bar*/
.form-2fGMdU .wrapper-39oAo3{
    display: none;
}
/*Hide disabled text*/
.form-2fGMdU .channelTextAreaDisabled-8rmlrp{
    display: none;
}


/*Message text bar*/
.a11y-font-scaled-down .avatar-1BDn8e {
    left: 16px;
}
.channelTextArea-rNsIhG.channelTextArea-2VhZ6z{
    border-radius: 0px;
}
.channelTextArea-rNsIhG{
    background: none;
}
.channelTextArea-2VhZ6z {
    border-radius: 0;
}
.channelTextArea-rNsIhG .scrollableContainer-2NUZem {
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(64px);
    border-radius: 22px;
}
.form-2fGMdU:before{
    display: none;
}
.form-2fGMdU {
    position: relative;
    flex-shrink: 0;
    padding-left: 16px;
    padding-right: 16px;
    margin-top: -12px;
}
.app-2rEoOp button {
    cursor: pointer;
}
.attachButton-2WznTc {
    height: 44px;
    width: 44px;
}
/*Autocomplete*/
.autocomplete-1vrmpx{
    background-color: var(--background-floating) !important;
}
.selected-1Tbx07 {
    background-color: var(--background-tertiary) !important;
}

/*Hide GIF button*/
.buttonContainer-28fw2U:not(.send-button) .button-3AYNKb,
/*Hide GIft button*/
.buttons-3JBrkn > .button-38aScr > :not(.translateButton-DhP9x8)
{display: none;}

/*Older messages*/
.barButtonBase-2uLO1z{
    --height: 32px;
    height: var(--height);
    line-height: var(--height);
}
.newMessagesBar-265mhP.barBase-1c2Rfb{
    position: absolute;
    box-sizing: border-box;
    top: 0;
    left: 0px;
    right: 0px;
    border-radius: 0;
    background: linear-gradient(to bottom, var(--background-primary) 4px, transparent);
    box-shadow: 0 0 0 transparent;

    display: flex;
    padding: 0;
    justify-content: left;
    align-items: stretch;
    z-index: 2;
    min-height: unset;
    height: 64px;
    text-transform: capitalize;
    transition: opacity .15s;
    opacity: 1;
    cursor: default;
    padding: 0;
    user-select: none;
    pointer-events: none;
}
.newMessagesBar-265mhP.barBase-1c2Rfb *{
    pointer-events: all;
}

.newMessagesBar-265mhP:active {
    padding-top: 0;
    box-shadow: 0 0 0 transparent;
}

.barButtonMain-3K-jeJ{
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
}
.barButtonAlt-mYL1lj {
    flex: 0 0 auto;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    font-weight: 600;
    margin-right: 20px;
}
.barButtonAlt-mYL1lj, .barButtonMain-3K-jeJ {
    position: relative;
    border-radius: 8px;
    margin-top: 8px;
    margin-left: 8px;
    margin-bottom: 8px;
    /*
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    background-color: var(--brand-experiment);
    -webkit-box-shadow: var(--elevation-low);/**/
    background-color: var(--background-primary-transparent) !important;
    backdrop-filter: blur(64px);
    box-shadow: var(--elevation-low);
    transition: color .15s ease;
    opacity: 1;
    cursor: pointer;
    color:rgba(255, 255, 255, 0.85)
}
.barButtonAlt-mYL1lj:hover, .barButtonMain-3K-jeJ:hover{
    opacity: 1;
    color:rgba(255, 255, 255, 0.95)
}
.barButtonAlt-mYL1lj:active, .barButtonMain-3K-jeJ:active{
    transform: translateY(1px);
    -webkit-box-shadow: 0 0 0 transparent;
    box-shadow: 0 0 0 transparent;
}



/*Jump to present*/
.jumpToPresentBar-G1R9s6, .jumpToPresentBar-G1R9s6:active{
    bottom: 0;
    border-radius: 8px 8px 0 0;
    background: linear-gradient(to top, var(--background-primary) 4px, transparent);
    opacity: 1;
    padding-bottom: 20px;
    margin-bottom: -8px;
    flex-direction: row-reverse;
}
.jumpToPresentBar-G1R9s6 .barButtonAlt-mYL1lj {
    margin-right: 4px;
}
.jumpToPresentBar-G1R9s6 .barButtonMain-3K-jeJ {
    display: none;
}




/*Embeds*/
:root{
    --embed-border-radius: 8px;
}
.embed-IeVjo6 {
    border-radius: var(--embed-border-radius);
}
.embed-IeVjo6 code{
    background: var(--background-secondary);
}
:root{
    --embed-line-width: 256px;
}
.embedWrapper-lXpS3L{
}
.embedFull-2tM8-- {
    /*max-width: 100% !important;*/

    border-left: calc(4px + var(--embed-line-width)) solid var(--background-accent);
    background: var(--background-secondary);
}
.grid-1nZz7S {
    margin-left: calc( -1 * var(--embed-line-width));
    z-index: 1;
}
.embedFull-2tM8--:after, .embedFull-2tM8--:before{
    content: "";
    height: 100%;
    width: var(--embed-line-width);
    position: absolute;
    top: 0;
    left: calc(-1 * var(--embed-line-width));
}
.embedFull-2tM8--:after{
    background: linear-gradient(to right, transparent, var(--background-secondary));
}
.embedFull-2tM8--:before{
    background: var(--background-secondary);
    opacity: .8;
}
.theme-dark .lookFilled-1Gx00P.colorGrey-2DXtkV {
    color: var(--text-normal);
    background-color: var(--background-tertiary);
    transition: filter .15s ease;
}
.theme-dark .lookFilled-1Gx00P.colorGrey-2DXtkV:hover {
    background-color: var(--background-tertiary);
    filter: brightness(1.3);
}
.theme-dark .lookFilled-1Gx00P.colorGrey-2DXtkV:active {
    background-color: var(--background-tertiary);
    filter: brightness(1.1);
}
.theme-dark .lookFilled-1Gx00P.colorGrey-2DXtkV:disabled {
    background-color: var(--background-tertiary);
    filter: brightness(.8);
}
.ephemeral-1PsL1r:before {
    display: none;
}
.ephemeral-1PsL1r, .ephemeral-1PsL1r:hover{
    background: none !important;
}
/*Spotify*/
.embedSpotify-tvxDCr.embedWrapper-lXpS3L{
    border-radius: var(--embed-border-radius);
}

/*Reactions*/
.reaction-1hd86g.reactionMe-wv5HKu {
    background-color: var(--brand-experiment-15a);
    border-color: var(--brand-experiment-20a);
}
.reaction-1hd86g.reactionMe-wv5HKu:hover {
    background-color: var(--brand-experiment-35a);
    border-color: var(--brand-experiment-60a);
}









/*Hide Nitro Button in Home*/
.channel-2QD9_O.container-2Pjhx-[href="/discovery"] {
    display: none;
}
.channel-2QD9_O.container-2Pjhx-[href="/store"] {
    display: none;
}


/*Memberlist Button*/
:root{
    --member-list-width: 240px;
}
.members-1998pB {
    width: var(--member-list-width);
}
.iconWrapper-2OrFZ1.clickable-3rdHwn.selected-1GqIat[aria-label="Member List"]{
    padding: 4px;
    background: var(--background-primary);
}
.iconWrapper-2OrFZ1.clickable-3rdHwn[aria-label="Member List"]{
    position: fixed;
    /* top: calc( 100vh - 32px - 30px); */
    top: calc( var(--app-info-bar-height) + 12px + var(--app-windowbar-height) );
    right: 16px;
    border-radius: 48px;
    background: var(--background-secondary);
    padding-top: 4px;
    padding-right: 12px;
    padding-bottom: 4px;
    padding-left: 4px;
    box-sizing: border-box;
    margin: 0;
    height: 32px;
    width: unset;

    display: flex;
    -webkit-box-pack: center;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    user-select: none;
}
.iconWrapper-2OrFZ1.clickable-3rdHwn[aria-label="Member List"]:before{
    content: "";
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='arrow-gKvcEx leftCaret-18vKap controlIcon-35oS15' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='white' fill-rule='evenodd' clip-rule='evenodd' d='M16.59 8.59004L12 13.17L7.41 8.59004L6 10L12 16L18 10L16.59 8.59004Z'%3E%3C/path%3E%3C/svg%3E");
    position: relative;
    width: 24px;
    height: 24px;
    transform: rotate(90deg);
    background-color: var(--interactive-normal);
}
.iconWrapper-2OrFZ1.clickable-3rdHwn[aria-label="Member List"]:hover:before{
    background-color: var(--interactive-hover);
}
.iconWrapper-2OrFZ1.clickable-3rdHwn.selected-1GqIat[aria-label="Member List"]:before{
    transform: rotate(-90deg);
}
.iconWrapper-2OrFZ1.clickable-3rdHwn[aria-label="Member List"]:hover {
    background: var(--background-tertiary);
}

.iconWrapper-2OrFZ1.clickable-3rdHwn.selected-1GqIat[aria-label="Member List"] svg{
    display: none;
}

.layer-3QrUeG {
    transform: none !important;
    opacity: 1 !important;
}

.layers-3iHuyZ>.layer-3QrUeG.animating-rRxada *,
.layers-3iHuyZ>.layer-3QrUeG.animating-rRxada {
    pointer-events: auto !important;
    will-change: unset;
}

.animating-rRxada.stop-animations {
    z-index: 100 !important;
}

.layout-2DM8Md{
    height: 42px;
}
.container-2Pjhx- {
    padding: 0;
}
.name-uJV0GL {
    font-size: 15px;
}
.container-2ax-kl {
    text-transform: uppercase;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: .25px;
}
/**/



/*::::::::::::::::::::::::: Pinned popout :::::::::::::::::::::::::*/
.messagesPopoutWrap-1MQ1bW{
    max-height: calc( 100vh - var(--app-info-bar-height) - var(--app-windowbar-height) - 32px) !important;
}
/*div[aria-label="Pinned Messages"]{}*/

/*::::::::::::::::::::::::::::::::::::::::::::::::*/



/*::::::::::::::::::: Custom Server ::::::::::::::::::::::

.container-3w7J-x[aria-label="o.o (server)"]:after{
    content: "";
    background-image: url("https://cms.qut.edu.au/__data/assets/image/0004/699790/centre-for-the-digital-economy-2020.jpg");
    background-size: contain;
    background-color: rgb(24, 27, 37);
    opacity: .05;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    user-select: none;
    pointer-events: none;
}*/
