/*GLOBAL*/
    /*Boarder Radius
	.theme-light .guildsWrapper-5TJh6A, .theme-light .base-3dtUhz{
		border-radius: 0 0 0 0;
	}*/
	/*Window Color*/
    .theme-light .appMount-3VJmYg{
        background-color: white;
    }

	.theme-light .container-2lgZY8 {
		background-color: #c8c8c8;
	}


/*CHANNEL BAR/

	/*BG*/
	.theme-light .container-PNkimc{
		background-color: #f3f3f4;
	}
	.theme-light .channels-Ie2l6A {
		background-color: #f3f3f4;
	}
	
	/*Header*/
	.theme-light .header-2o-2hj {
		color: #4f545c;
		box-shadow: none;
	}
	
	/*Settings Bar*/
		/*BG*/
		.theme-light .container-1UB9sr, .theme-light .container-2Thooq{
			background-color: rgba(220,221,222,.6);
			border-top: 0px solid #d0d1d2;
			border-bottom: 1px solid #d0d1d2;
			margin: 0;
		}
		/*Online Status Outline*/
		.theme-light .status-2kJpnA {
			border: 2px solid #e4e4e4;
		}
		/*User Text*/
		.theme-light .container-1UB9sr, .theme-light .container-2Thooq {
			color: #000;
		}
		/*Voice Channel Status Text*/
		.theme-light .inner-btChU7 .channel-SEolQq {
			color: #000;
		}
		
		/*Deafen & Mute Buttons*/
		.theme-light .iconButtonDefault-2cKx7-.iconButton-3V4WS5.da-iconButtonDefault.da-iconButton.button-2b6hmh.da-button.small--aHOfS, .theme-light .button-2KyEfG, .theme-light .button-2KyEfG{
			background-image: none !important;
			background-size: 0;
		}
		.theme-light [aria-label=Deafen]::after, .theme-light [aria-label=Undeafen]::after, .theme-light [aria-label=Mute]::after, .theme-light [aria-label=Unmute]::after, .theme-light .buttonDisconnect-3W_SJc::after, .theme-light .buttonInfo-3nkbOt::after{
			background-color: black;
			content: " ";
			position: absolute;
			width: 100%;
			height: 100%;
		}
		:root {
			--settings-button-mask-size: 55%;
		}
		.theme-light [aria-label=Deafen]::after{
			-webkit-mask: url(/assets/c7c47afdf35d5a3e06233319d3aa7674.svg) no-repeat 50% 50%;
			-webkit-mask-size: var(--settings-button-mask-size);
		}
		.theme-light [aria-label=Undeafen]::after{
			-webkit-mask: url(/assets/c8845c514bbf3f1e5bea064c1e40b08d.svg) no-repeat 50% 50%;
			-webkit-mask-size: var(--settings-button-mask-size);
		}
		.theme-light [aria-label=Mute]::after{
			-webkit-mask: url(/assets/4bc527c257233fc69b94342d77bcb9ee.svg) no-repeat 50% 50%;
			-webkit-mask-size: var(--settings-button-mask-size);
		}
		.theme-light [aria-label=Unmute]::after{
			-webkit-mask: url(/assets/896770bf2d6ed0358ed0adefdbe96a24.svg) no-repeat 50% 50%;
			-webkit-mask-size: var(--settings-button-mask-size);
		}
		.theme-light .buttonDisconnect-3W_SJc::after{
			-webkit-mask: url(/assets/1ac919360611a8962ea15859f6c27d9c.svg) no-repeat 50% 50%;
			-webkit-mask-size: var(--settings-button-mask-size);
		}
		.theme-light .buttonInfo-3nkbOt::after{
			-webkit-mask: url(/assets/9ff6ceb7abcc4920dd468c954f12685b.svg) no-repeat 50% 50%;
			-webkit-mask-size: var(--settings-button-mask-size);
		}
		/*Hover BG*/
		.theme-light .button-2b6hmh:hover, .theme-light .button-2KyEfG:hover {
			background-color: rgba(24, 25, 28, 0.1);
		}

	/*Server Channels Scrollbar*/
	.theme-light .scrollerThemed-2oenus.themeGhostHairlineChannels-3G0x9_ .scroller-2FKFPG::-webkit-scrollbar-thumb {
		background-color: rgba(79,84,92,.3);
	}
	
	/*Channel Hover*/
	.theme-light .contentHoveredText-2D9B-x{
		background-color: rgba(220,221,222,.3);
	}
	
	/*Channel Active*/
	.theme-light .contentSelectedText-3wUhMi, .theme-light .contentSelectedVoice-1WDIBM {
		background-color: rgba(220,221,222,.6);
	}
	
	/*Channels*/
		/*Action Buttons Normal*/
		.theme-light .actionIcon-2Hi9ZG {
			color: #72767d;
		}
		/*Sub Icons*/
    	.theme-light .colorConnectedText-1c_uzY, .theme-light .colorConnectedVoice-3kyvUN, .theme-light .colorDefaultText-oas-QM, .theme-light .colorDefaultVoice-3wYlhb, .theme-light .colorHoveredText-OZnAgu, .theme-light .colorHoveredVoice-1kucsK, .theme-light .colorLockedText-1VRkPt, .theme-light .colorLockedVoice-2UlBjl, .theme-light .colorSelectedText-1y4Wvs, .theme-light .colorSelectedVoice-Xcb_9R, .theme-light .colorUnreadText-2t7XRb, .theme-light .colorUnreadVoice-137o4S {
            color: #72767d;
        }
		/*Deafen & Mute Icons*/
    	.theme-light .icon-3nr6O- path, .theme-light .icon-29PTzq path{
		fill: #72767d;
        }
    	.theme-light .icon-3nr6O-, .theme-light .icon-29PTzq{
		opacity: .7;
        }

	/*Text Channels*/
	
		/*Unread*/
		.theme-light .nameUnreadText-DfkrI4, .theme-light .nameUnreadVoice-EVo-wI {
			color: #000;
		}
		
		/*Uread Indicator*/
		.theme-light .unread-1Dp-OI {
            background-color: hsla(0, 0%, 0%, 0.6);
        }
		
		/*Normal*/
		.theme-light .nameDefaultText-24KCy5, .theme-light .nameLockedText-3pqQcL{
			color: #72767d;
		}
		
		/*Hover*/
		.theme-light .nameHoveredText-1uO31y {
            color: #4f545c;
		}
		
        /*Active*/
        .theme-light .nameConnectedText-3CzNQn, .theme-light .nameConnectedVoice-MHUX5F, .theme-light .nameSelectedText-sp_EUw, .theme-light .nameSelectedVoice-1qSph5 {
            color: #000;
        }
		
		/*Muted*/
		.theme-light .nameMutedText-3Vj4bM, .theme-light .nameMutedVoice-3oxyQZ {
			color: #b9bbbe;
		}
		
		/*Categories Hover*/
		.iconHovered-2L3-fB, .iconHoveredCollapsed-3caIIZ, .nameHovered-1gxhWH, .nameHoveredCollapsed-2orEWB {
			color: #000;
		}
		
	/*Voice Channels*/
		/*Normal*/
		.theme-light .nameDefaultVoice-3WUH7s, .theme-light .nameLockedVoice-26MhB1 {
			color: #72767d;
		}
		/*Hover*/
		.theme-light .nameHoveredVoice-YJ1Vfd {
			color: #000;
		}
		/*Wrapper*/
		.theme-light .wrapper-2NJDcI {
			background-color: rgba(220,221,222,.6);
			border-radius: 2px;
			color: #72767d;
		}
		/*User*/
		/*Hover*/
		.theme-light .nameHovered-21k1eo, .theme-light .nameSpeaking-3UhoEZ {
            color: #4f545c;
        }
		/*Active*/
		.theme-light .contentConnectedVoice-qL-YrL:active, .theme-light .contentHoveredText-2D9B-x, .theme-light .contentHoveredVoice-3p_NEO:active, .theme-light .contentSelectedVoice-1WDIBM:active {
			background-color: rgba(220,221,222,.3);
		}
		.theme-light .userHovered-2_fT4Z:active {
			background-color: rgba(220,221,222,.6);
		}
		
		/*Category Muted*/
			/*Normal*/
			.theme-light .iconMuted-1HVBGH, .theme-light .nameMuted-1MCOt4 {
				color: #000000;
				opacity: .3;
			}
		
		
		
		
/*GUILD LIST*/
	/*Shadow Fix*/
	.theme-light .unreadMentionsBar-1VrBNe {
		-webkit-box-shadow: none;
		box-shadow: none;
	}
	
	/*BG Color*/
	.theme-light .guildsWrapper-5TJh6A {
		background-color: #c8c8c8;
	}
	
	/*Guild Seperator*/
	.theme-light .guildSeparator-1X4GQ1:after {
		background: rgba(99, 100, 103, 0.3);
	}

	/*Add Guild*/
		/*Normal*/
		.theme-light .guildsAdd-21_IdK {
			background: rgba(255, 255, 255, 0);
			border-color: #96999c;
			color: #a2a4a9;
		}
		/*Hover*/
		.theme-light .guildsAdd-21_IdK:hover {
			background: rgba(255, 255, 255, 0);
			border-color: #63666d;
			color: #3d4044;
		}
	
	/*Online Counter*/
	.theme-light .friendsOnline-_wi_fM, .theme-light .friendsOnline-_wi_fM {
		color: hsla(0, 0%, 0%, 0.47);
	}

/*DISCORD HOME*/
	/*Searchbar*/
		.theme-light .search-bar .search-bar-inner {
			background: rgba(213, 213, 218, 0.4);
			border: 1px solid rgba(0,0,0,.0);
		}
		.theme-light .search-bar{
			background: none;
		}
		.theme-light .search-bar input::-webkit-input-placeholder{
			color:#b9bbbe;
		}
		.theme-light .searchBar-6Kv8R2 {
			-webkit-box-shadow:: 0 1px 0 rgba(32, 34, 37, 0.09), 0 2px 0 rgba(0, 0, 0, 0.02);
			box-shadow: 0 1px 0 rgba(32, 34, 37, 0.09), 0 2px 0 rgba(0, 0, 0, 0.02);
		}
	/*Pages*/
		/*Normal*/
			/*Icon*/
			.theme-light .channel-2QD9_O a {
				
			}
			/*Text*/
			.theme-light .name-2WpE7M, .theme-light .channel-2QD9_O a{
				color: #72767d;
			}
			.theme-light .name-2WpE7M {
				opacity: 1;
			}
		/*Hover*/
			/*BG*/
			.theme-light .channel-2QD9_O:hover a{
				background-color: rgba(220,221,222,.3);
			}
			/*Text*/
			.theme-light .channel-2QD9_O:hover .name-2WpE7M{
				color: #4f545c;
				opacity: 1;
			}
			.theme-light .channel-2QD9_O:hover a{
				color: #4f545c;
				opacity: 1;
			}

		/*Active*/
			/*BG*/
			.theme-light .channel-2QD9_O.selected-1HYmZZ a{
				background-color: rgba(220,221,222,.6);
			}
			/*Text*/
			.theme-light .channel-2QD9_O.selected-1HYmZZ .name-2WpE7M{
				color: #000;
				opacity: 1;
			}
			.theme-light .channel-2QD9_O.selected-1HYmZZ a{
				color: #000;
				opacity: .7;
			}
		/*Conversation*/
			/*Close Button*/
				/*Normal*/
					.theme-light .close-3hZ5Ni {
						background-image: none !important;
						background-size: 18px 18px;
						content: " ";
						display: none;
						height: 18px;
						opacity: .2;
						width: 18px;
						-webkit-mask: url(/assets/9cc98e0a595df904b11a7824bb421778.svg) no-repeat 50% 50%;
						background-color: black;
						-webkit-mask-size: 100%;
					}
				/*Hover*/
					.theme-light .close-3hZ5Ni:hover {
						opacity: .4;
					}
			/*Friend Online Status Outline*/
				/*Normal*/
				.theme-light .channel-2QD9_O .status {
					border: 2px solid #f3f3f4;
				}
				/*Hover*/
				.theme-light .channel-2QD9_O:hover .status {
					border-color: #ededed;
				}
				/*Active*/
				.theme-light .channel-2QD9_O.selected-1HYmZZ .status {
					border-color: #eaeaeb;
				}
			/*DM's Header*/
			.theme-light .privateChannels-1nO12o header {
				color: #000;
				opacity: .6;
			}
			
/*CHAT*/
	/*Quotes*/
	.theme-light span.citar-btn {
		background-color: #4f545c !important;
		opacity: .3 !important;
		transform: scale(0.9);
		

	}
	.theme-light span.citar-btn:hover {
		background-color: #4f545c !important;
		opacity: 1 !important;
		transform: scale(1);
		
	}



/*Tooltips
.tooltip.tooltip-black {
    background-color: #fff;
    -webkit-box-shadow: 0 2px 10px 0 rgba(0,0,0,.1);
    box-shadow: 0 2px 10px 0 rgba(0,0,0,.1);
    border-radius: 5px;
    color: #99aab5;
}
.tooltip.tooltip-black.tooltip-top:after {
    border-top-color: #fff;
}
.tooltip.tooltip-black.tooltip-right:after {
    border-right-color: #fff;
}
.tooltip.tooltip-black.tooltip-left:after {
    border-left-color: #fff;
}
.tooltip.tooltip-black.tooltip-bottom:after {
    border-bottom-color: #fff;
}*/